/vision/PythonVersion/yolo5
/vision/PythonVersion/venv

build/
vision/PythonVersion/yolov5
/test/src/node_modules
node_modules
Deprecated/vision/PythonVersion/
Deprecated/CodigoTestearduinoIOT/
raspberry_node/node_modules/